$widget-border-color: $light-grey;

$widget-header-bg-color: $light-grey;
$widget-header-text-size: 1.2em;
$widget-header-text-color: $light-dark;

$widget-add-bg-color: $light-grey;
$widget-add-title-text-color: $light-dark;
$widget-add-title-text-size: 2em;
$widget-plus-text-size: 3em;

$widget-add-height: 339px;
$widget-height: 300px;

$widget-cell-height: 40px;
$widget-cell-text-size: 1.1em;
$widget-cell-text-color: $light-dark;
$widget-cell-icon-size: 2em;

$widget-icon-size: 4em;
$widget-icon-color: $light-dark;
$widget-icon-width: 60px;
$widget-icon-text-size: 0.5em;

$widget-title-text-size: 1.5em;
$widget-title-text-color: $light-dark;
