@import "variables";

.widget {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(4);
  @include make-lg-column(4);
  margin-top: 30px;
}
.widget__body {
  border: 1px solid $border-color;
  position: relative;
}
.widget_add {
  display: table;
  height: $widget-add-height;
  .widget__body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background-color: $widget-add-bg-color;
    transition: all .1s ease-in;
    &:hover {
      cursor: pointer;
      background-color: darken($widget-add-bg-color, 5%);
    }
  }
}
.widget__header {
  background-color: $widget-header-bg-color;
  padding: 10px;
}
.widget__header-text {
  margin: 0;
  font-size: $widget-header-text-size;
  font-weight: bold;
  color: $widget-header-text-color;
}
.widget__add-title {
  margin: 0;
  font-size: $widget-add-title-text-size;
  color: $widget-add-title-text-color;
}
.widget__plus {
  font-size: $widget-plus-text-size;
  color: $widget-add-title-text-color;
}
.widget__content {
  display: table;
  width: 100%;
  padding: 15px;
  position: relative;
  height: $widget-height;
}
.widget__wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.widget__table {
  width: 100%;
  position: relative;
  td {
    height: $widget-cell-height;
    font-size: $widget-cell-text-size;
    color: $widget-cell-text-color;
    padding: 0 5px;
    text-align: center;
  }
}
td.widget__icon-cell {
  font-size: $widget-cell-icon-size;
}
.widget__button {
  @include make-button();
  margin-top: 15px;
  padding: 10px 30px;
}
.widget__icon {
  font-size: $widget-icon-size;
  color: $widget-icon-color;
  display: inline-block;
  margin-right: 20px;
  width: $widget-icon-width;
  &:last-child {
    margin-right: 0;
  }
}
.widget__icon-text {
  font-size: $widget-icon-text-size;
}
.widget__title {
  margin: 0 0 15px 0;
  font-size: $widget-title-text-size;
  color: $widget-title-text-color;
  font-weight: bold;
}
