@import "variables";

.top-bar {
  height: 50px;
  border-bottom: 1px solid $border-color;
  position: fixed;
  width: 100%;
  background-color: $top-bar-bg-color;
  z-index: 1000;
  @media screen and (min-width: $screen-sm-min) {
    position: relative;
  }
}
.top-bar__logout {
  float: right;
  height: 50px;
  padding-right: 30px;
}
.top-bar__logout-button {
  position: relative;
  top: 9px;
  color: $light-dark;
  padding: 5px 10px;
  font-size: 1.1em;
  border: none;
  background-color: $white;
  outline: none;
  span {
    margin-left: 5px;
  }
  &:hover {
    background-color: darken($white, 5%);
  }
}
