@import "variables";

.menu-button {
  display: inline-block;
  border: none;
  float: left;
  color: $menu-button-text-color;
  padding: 10px 20px;
  background-color: $menu-button-bg-color;
  font-size: $menu-button-text-size;
  outline: none;
  &:hover {
    background-color: darken($menu-button-bg-color, 5%);
  }
}
