@import "variables";

.metrics {
  @include make-row();
  margin-top: 30px;
}
.metrics__metric {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(4);
  @include make-lg-column(4);
  margin-top: 30px;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 0;
  }
}
.metrics__title {
  font-size: $metrics-title-text-size + 0.4;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
  color: $metrics-title-text-color;
  @media screen and (min-width: $screen-md-min) {
    font-size: $metrics-title-text-size;
  }
}
.metrics__label {
  height: 150px;
  line-height: 150px;
  background-color: $metrics-label-bg-color-default;
  color: $metrics-label-text-color;
  text-align: center;
  font-size: $metrics-label-text-size;
}
.metrics__label_yellow {
  background-color: $metrics-yellow;
}
.metrics__label_orange {
  background-color: $metrics-orange;
}
.metrics__sub-label {
  font-size: $metrics-sub-label-text-size;
  text-align: center;
  color: $metrics-sub-label-text-color;
  margin: 0;
}
