$metrics-title-text-size: 1.05em;
$metrics-title-text-color: $light-dark;

$metrics-label-text-size: 4em;
$metrics-label-text-color: $white;
$metrics-label-bg-color-default: $dark-grey;

$metrics-sub-label-text-size: 1.2em;
$metrics-sub-label-text-color: $light-dark;

$metrics-yellow: #a1874b;
$metrics-orange: #f56b42;
