@import "variables";

.page-header {
  font-family: $page-header-font;
  border-bottom: 1px solid $border-color;
  margin: 0;
  padding: 0;
}
.page-header__text {
  font-size: $page-header-size;
  color: $page-header-color;
}
