@mixin make-stats-input() {
  border: 1px solid $border-color;
  background-color: $stats-input-bg-color;
  height: $stats-input-height;
  font-size: $stats-input-text-size;
  outline: none;
  color: $stats-input-text-color;
  width: 100%;
}
