@import "variables";
@import "mixins";

.stats {
  margin-top: 50px;
}
.stats__header {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
}
.stats__header-text {
  margin: 0;
  font-size: $stats-header-text-size;
  color: $stats-header-text-color;
  font-weight: bold;
}
.stats__controls {
  @include make-row();
  margin-top: 15px;
}
.stats__select {
  @include make-lg-column(12);
  @include make-sm-column(12);
  @include make-md-column(3);
  @include make-lg-column(3);
}
.stats__select-input {
  @include make-stats-input();
  width: 100%;
  height: auto;
}
.stats__date-range {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column-offset(3);
  @include make-md-column(6, 0);
  @include make-lg-column-offset(4);
  @include make-lg-column(5, 0);
  margin-top: 15px;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 0;
  }
}
.stats__date-range_right {
  float: none;
  @media screen and (min-width: $screen-sm-min) {
    float: right;
  }
}
.stats__date-range-item {
  @include make-xs-column(6);
  @include make-sm-column(6);
  @include make-md-column(6);
  @include make-lg-column(6);
  label {
    color: $stats-label-color;
    font-size: $stats-label-text-size;
    line-height: $stats-input-height;
  }

}
.stats__date-range-input {
  @include make-stats-input();
  padding: 0 10px;
  height: 34px;
}
.stats__controls-radio {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(4);
  @include make-lg-column(4);
}
.stats__radio-label {
  margin-right: 15px;
  margin-bottom: 0;
  cursor: pointer;
  color: $stats-radio-label-color;
  font-size: $stats-radio-label-text-size;
  input[type="radio"] {
    margin-right: 5px;
    margin-top: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.stats__chart {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  height: $stats-chart-height;
  canvas {
    width: 100%;
    height: 100%;
  }
}
.stats__table {
  @include make-table();
}
td.stats__show-more {
  @include make-table-button();
}
.stats__date-range-label {
  @include make-sm-column(12, 0);
  @include make-md-column(3, 0);
  @include make-lg-column(3, 0);
  @media screen and (min-width: $screen-sm-min) {
    label {
      text-align: left;
      line-height: 34px;
    }
  }
}
.stats__date-range-input-block {
  @include make-sm-column(12, 0);
  @include make-md-column(9, 0);
  @include make-lg-column(9, 0);
}
.stats__not-found {
  color: $stats-header-text-color;
  font-size: 1.1em;
  text-align: center;
}
