$stats-header-border-color: $light-grey;
$stats-header-text-color: $light-dark;
$stats-header-text-size: 1.8em;

$stats-input-border-color: $light-grey;
$stats-input-bg-color: $white;
$stats-input-text-size: 1em;
$stats-input-text-color: $light-dark;
$stats-input-height: 30px;

$stats-label-color: $light-dark;
$stats-label-text-size: 1em;

$stats-radio-label-color: $light-dark;
$stats-radio-label-text-size: 1em;

$stats-chart-height: 300px;
