html, body {
  background-color: $main-bg-color;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: $primary-font;
}
.wrapper {
  @include make-row();
}
.sidebar {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(2, 0);
  @include make-lg-column(2, 0);
  position: fixed;
  z-index: 2000;
  height: 100%;
  background-color: $sidebar-bg-color;
  border-right: 1px solid $border-color;
}
.content {
  @include make-xs-column(12, 0);
  @include make-xs-column-offset(0);
  @include make-sm-column(12, 0);
  @include make-sm-column-offset(0);
  @include make-md-column(10, 0);
  @include make-md-column-offset(2);
  @include make-lg-column(10, 0);
  @include make-lg-column-offset(2);
}
.content-body {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 70px;
  margin-top: 70px;
  @media screen and (min-width: $screen-sm-min) {
    margin-top: 0;
  }
}
.widgets-area {
  @include make-row();
}
#app {
  height: 100%;
}
.container-fluid {
  height: 100%;
}
.Select-control {
  border-radius: 0 !important;
  border: 1px solid $border-color !important;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 36px !important;
}
.react-datepicker-popper {
  width: max-content;
}
