@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Proxima Nova Regular.otf") format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/Proxima Nova Bold.otf") format("opentype");
}
