@mixin make-table() {
  border: 1px solid $border-color;
  margin-top: 15px;
  text-align: center;
  th, td {
    text-align: center;
    border: 1px solid $border-color;
    border-collapse: collapse;
    height: $table-cell-height;
    font-size: $table-cell-text-size;
    padding: $table-cell-padding;
    color: $table-cell-text-color;
  }
}
@mixin make-table-button() {
  color: $table-link-color;
  &:hover {
    cursor: pointer;
    background-color: $table-link-bg-hover-color;
  }
}
@mixin make-button() {
  background-color: $light-green;
  border: none;
  color: $white;
  padding: 10px;
  font-size: 1.1em;
  transition: all .2s ease-in;
  &:hover {
    background-color: darken($light-green, 10%);
  }
}
