/* Fonts */
$primary-font: "Proxima Nova", sans-serif;

/* Colors */
$white: #ffffff;
$light-grey: #f4f4f6;
$dark-grey: #c5c4c5;
$light-green: #d0b47c;
$lighten-dark: #999999;
$light-dark: #555555;
$dark: #333333;
$light-blue: #1e9ea3;

/* Base */
$main-bg-color: $white;
$sidebar-bg-color: $light-grey;
$border-color: darken($light-grey, 5%);

/* Tables */
$table-border-color: $light-grey;
$table-cell-height: 40px;
$table-cell-text-size: 1.05em;
$table-cell-padding: 0 50px;
$table-cell-text-color: $light-dark;
$table-link-color: $light-blue;
$table-link-bg-hover-color: $light-grey;
