@import "variables";

.tabs {
  background-color: $tabs-bg-color;
  margin-top: 30px;
  padding: 15px;
}
a.tabs__tab {
  display: inline-block;
  padding: 5px 10px;
  font-size: $tabs-text-size;
  margin-right: 10px;
  text-decoration: none;
  color: $tabs-text-color;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: darken($tabs-bg-color, 5%);
  }
  @media screen and (min-width: $screen-xs-min){
    font-size: $tabs-text-size + 0.1;
  }
}
.tabs__tab_active {
  background-color: darken($tabs-bg-color, 5%);
}
