@import "variables";

.menu {
  padding-top: 50px;
  @media screen and (min-width: $screen-sm-min) {
    padding-top: 0;
  }
}
.menu__title {
  text-transform: uppercase;
  font-size: $menu-title-size;
  color: $menu-title-color;
  font-weight: bold;
  margin: 20px 0 5px 0;
  padding: 0 15px;
  user-select: none;
  cursor: default;
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {}
a.menu__link {
  color: $menu-link-color;
  font-size: $menu-link-size;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  &:hover, &_active {
    background-color: darken($light-grey, 5%);
  }
}
.menu__separator {
  margin: 20px auto;
  padding: 0 15px;
}
.menu__separator-line {
  background-color: lighten($menu-separator-color, 20%);
  height: $menu-separator-height;
}
