$menu-title-color: $lighten-dark;
$menu-title-size: 0.9em;

$menu-link-color: $dark;
$menu-link-size: 1.1em;
$menu-link-color-hover: #1e9ea3;

$menu-separator-color: $lighten-dark;
$menu-separator-height: 1px;
