@import "variables";

.settings-block {
  margin-top: 30px;
}
.settings-block__header {
  font-size: $settings-block-header-text-size;
  color: $settings-block-header-text-color;
  font-weight: bold;
}
.settings-block__table {
  @include make-table();
  margin-bottom: 15px;
}
td.settings-block__table-button {
 @include make-table-button();
}
.settings-block__button {
  @include make-button();
}
.settings-block__account {
  @include make-xs-column(12, 0);
  @include make-sm-column(12, 0);
  @include make-md-column(6, 0);
  @include make-lg-column(6, 0);
  margin-top: 30px;
}
.settings-block__account-header {
  font-size: $settings-block-account-header-text-size;
  color: $settings-block-account-header-text-color;
  font-weight: bold;
}
.settings-block__form-group {
  @include make-row();
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.settings-block__form-label {
  @include make-xs-column(4);
  @include make-sm-column(4);
  @include make-md-column(2);
  @include make-lg-column(2);
}
.settings-block__form-input {
  @include make-xs-column(8);
  @include make-sm-column(8);
  @include make-md-column(10);
  @include make-lg-column(10);
}
.settings-block__input {
  border: 1px solid $border-color;
  height: $settings-block-input-height;
  padding: 0 10px;
  outline: none;
  width: 100%;
}
.settings-block__label {
  line-height: $settings-block-input-height;
  color: $settings-block-label-text-color;
  font-size: $settings-block-label-text-size;
}
