$settings-block-header-text-size: 1.8em;
$settings-block-header-text-color: $light-dark;

$settings-block-account-header-text-size: 1.4em;
$settings-block-account-header-text-color: $light-dark;

$settings-block-input-height: 40px;
$settings-block-input-border-color: $light-grey;

$settings-block-label-text-color: $light-dark;
$settings-block-label-text-size: 1.1em;
